@model List<BankingMVC.Models.Dtos.CustomerTransactionDto>
    @{
        ViewData["Title"] = "Customer TransactionHistory";
    }

    <table>
        @* <thead>
            <tr>
                <th>Sender Name</th>
                <th>Sender Acctount Number</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Reciever Name</th>
                <th>Reciever Acctount Number</th>
            </tr>
        </thead> *@
        <tbody>
               @foreach (var item in Model)
               {
                <tr>
                    <td>@item.Amount</td>
                    <td>@item.Date </td>
                    <td>@item.Status </td>
                     <td>@item.TransactionType </td>
                    @* <td>@item.Customer.User.wallet.AccountNumber</td>
                    <td>@item.Customer.User.wallet.DateCreated</td> *@
                </tr>
               }
        </tbody>
    </table>

     <li>
        <a asp-controller="User"  text asp-action="Customer">Back</a>
    </li>
<style>
    tr {
        color: cadetblue;
        text-transform: lowercase;
    }

    td. {
        color: cornflowerblue;
    }
</style>